In [6]:
import pandas as pd
import numpy as np

# Constructing DataFrame from a dictionary:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [3]:
# Constructing DataFrame from a dictionary including Series:
d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
pd.DataFrame(data=d, index=[0, 1, 2, 3])

   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

In [7]:
# Constructing DataFrame from numpy ndarray:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                    columns=['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
# Constructing DataFrame from Series/DataFrame:
ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
df = pd.DataFrame(data=ser, index=["a", "c"])
df

   0
a  1
c  3

In [9]:
# The index of a DataFrame is a series of labels that identify each row.
# Check index of a DataFrame:
df.index

Index(['a', 'c'], dtype='object')

In [10]:
# Replace index of a DataFrame:
df.index = [100, 200]
df.index

Index([100, 200], dtype='int64')

In [11]:
# The column labels of the DataFrame.
# Check columns of DataFrame:
df.columns

RangeIndex(start=0, stop=1, step=1)

In [12]:
# This returns a Series with the data type of each column:
df.dtypes

0    int64
dtype: object

In [13]:
# Print a concise summary of a DataFrame.
# With details
df.info(verbose=True)

# Without details
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 100 to 200
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      int64
dtypes: int64(1)
memory usage: 32.0 bytes
<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 100 to 200
Columns: 1 entries, 0 to 0
dtypes: int64(1)
memory usage: 32.0 bytes

In [18]:
# Return a subset of the DataFrame’s columns based on the column dtypes.
df = pd.DataFrame({'a': [1, 2] * 3,
                'b': [True, False] * 3,
                'c': [1.0, 2.0] * 3})
df.select_dtypes(exclude=['int64'])

       b    c
0   True  1.0
1  False  2.0
2   True  1.0
3  False  2.0
4   True  1.0
5  False  2.0

In [19]:
# Only the values in the DataFrame will be returned, the axes labels will be removed.
df.values

array([[1, True, 1.0],
       [2, False, 2.0],
       [1, True, 1.0],
       [2, False, 2.0],
       [1, True, 1.0],
       [2, False, 2.0]], dtype=object)

In [20]:
# It has the row axis labels and column axis labels as the only members. 
# They are returned in that order.
df.axes

[RangeIndex(start=0, stop=6, step=1), Index(['a', 'b', 'c'], dtype='object')]

In [21]:
# Return an int representing the number of axes / array dimensions.
# Return 1 if Series. Otherwise return 2 if DataFrame:
s = pd.Series({'a': 1, 'b': 2, 'c': 3})
s.ndim

1

In [22]:
# Return an int representing the number of elements in this object.
# Return the number of rows if Series. 
# Otherwise return the number of rows times number of columns if DataFrame.
df.size

18

In [23]:
# Return a tuple representing the dimensionality of the DataFrame.
df.shape

(6, 3)

In [24]:
# Return the memory usage of each column in bytes.
# The memory usage can optionally include the contribution of the index and elements of object dtype:
df.memory_usage()

Index    132
a         48
b          6
c         48
dtype: int64

In [ ]:
# Indicator whether Series/DataFrame is empty:
df_empty = pd.DataFrame({'A' : []})
df_empty